*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@font-face {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-semibold.woff2') format('woff2');
}
@font-face{
  font-family: "Manrope";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Manrope-medium.woff2') format('woff2');
}
body{
   background-color: #d9c5b4;
   color: #121212;
}
header{
  background: #d9ab82;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header>img{
  width: 100px;
}

nav{
  background-color: #d9ab82;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 90%;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
 
}

.active-nav{
  transform: translateX(0);
}
.list-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  list-style-type: none;
  background-color: #d9ab82;
}
.list-links>li>img{
  width: 50px;
  margin-bottom:1em ;
}
.nav-link{
  text-decoration: none;
  color: #0d0d0d;
  font-size: 1.1rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  /* text-shadow: 1px 1px 1px #3EC2CC; */
}
.nav-link:focus, .nav-link:hover{
  color: brown;
}

.active{
  border: solid 1px #0d0d0d;
  padding: .5em;
  border-radius: 5px;
}

.btn-menu{
  width: 3em;
  fill: #121212;
  background-color: transparent;
  border: #121212 solid 2px;
  border-radius: 5px;
  padding: .5em;
  margin-left: auto;
  cursor: pointer;
  
}
.open-menu{
  display: block;
}
.close-menu{
  display: none;
}
.menu-abierto .open-menu{
  display: none;
}
.menu-abierto .close-menu{
  display: block;
}
h1, h2, h3{
  color: #121212;
}

 h1{
  font-size: 2rem;
  text-align: center;
  /* margin-block: 1em; */
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
h2, a{
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
p{
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
 .hero{
  background-image: url('../images/hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
 }


 .hero-title{
  font-size: 2rem;
  text-transform: uppercase;
  color: #0d0d0d;
  text-align: center; 
  margin-top: 1em;
   
 }

 .hero-subtitle{
  font-size: 1.3rem;
  color: #0d0d0d;
  text-align: center;
 }

 
 .intro{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  width: 90%;
  margin: 1em auto;
  max-width: 1000px;
  
 }
.intro-section{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: .5em; 
 border: solid 2px #443222;
 border-radius: 5px;
 padding: 1em;
}

.intro-section>img{
  width: 30%;
  order: -1;
  border-radius: 5px 
}
.productos-intro{
  display: flex;
  order: -1;
  justify-content: space-between;
  gap: .5em;
}
.productos-intro>img{
  width: 30%;
  border-radius: 5px 
}
.proyectos-intro{
  display: flex;
  order: -1;
  justify-content: space-between;
  gap: .5em;

}
.proyectos-intro>img{
  width: 30%;
  border-radius: 5px 
}

.intro-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.intro-text>h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  
}
.intro-text>h2>a{
  color: #283c2c;
  font-size: 1.1rem;
  text-underline-offset: .2em;
}

.intro-section a:focus, .intro-section a:hover{
  color: brown;
}

.contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #d9ab82;
  padding-block: 1em;
 
}
.contacto>h2{
 flex-basis: 100%;
 text-align: center;
}
/* .whatsapp{
  fill: #25D366;
  width: 2rem;
  background-color: #121212;
  border-radius: 50%;
  padding: .2em;
  
 }
 .instagram{
  fill: #C13584;
  width: 2rem;
  background-color: #121212;
  border-radius: 50%;
  padding: .2em;
 } */
.whatsapp, .instagram{
  fill: #443222;
  width: 2rem;
  
  
 }

.copyright{
  text-align: center;
  font-size: .8rem;
  border-top: solid 1px #0d0d0d;
  padding: .5em;
}
.copyright a{
  color: #283c2c;
  text-underline-offset: .2em;
}

/* sobre mi */

.sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.main-img{
  width: 80%; 
 max-width: 100%;
  
}
.sobre-mi>p{
  line-height: 1.5;
}

/**** procesos  ******/

.procesos{
  padding: 1em;
}

.procesos>p{
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

.procesos-galeria{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 1em;
  margin: 1em auto;
  max-width: 1000px;
}

.procesos-galeria a>img{
  width: 80%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.galeria-info{
  text-align: center;
  margin-top: 2em;
}

/**** productos ****/

.productos{
  padding: 1em;
}

.productos>h2{
  text-align: center;
  margin-block: 1em;
}
.productos-galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 1em;
  margin-block: 1em;
}
.productos-galeria>img{
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

/**** proyectos ****/

.proyectos-galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  width: 90%;
  padding: 1em;
  margin: 1em auto;
  max-width: 1000px;

}
.proyectos-galeria a>img{
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}


/* instagram*/
.instagram-widget{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;


}

.instagram-widget h2{
  text-align: center;
  margin-block: 1em;

}
.instagram-widget div{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.instagram-widget .lightwidget-widget{
  margin: 0 auto;

}

@media (min-width:700px){
  /* .hero{
    padding-top: 5em;
  } */

  .hero{
    height: 60vh;
  }
  .hero-title{
    font-size: 3rem;
  }
  .hero-subtitle{
    font-size: 1.5rem;
  }

  .sobre-mi{
    flex-direction: row-reverse;
    max-width: 800px;
    margin: 0 auto;
  }
 .intro-sobre-mi{
  order:-2;
 }
  .main-img{
     width: auto;
    flex: 0 0 50%;
    max-height: 500px;
  
  }

  .intro-section{
    flex-direction: row;
    gap:1em;   
    
  }
  .intro-section-productos, .intro-section-proyectos{
    flex-direction: column-reverse;
  }
  .intro-section-productos>div.intro-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
   .intro-section-proyectos>div.intro-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
 
   .intro-sobre-mi{
    order:-2;
 }
 .intro-section>img.intro-procesos-img{
   width: 60%;
 }
  
  }

@media (min-width:1000px){
  header>img{
    width: 120px;
    margin-left: 1em;
  }
  
  .btn-menu{
    display: none;
  }
  nav{
    position: relative;
    top:auto;
    transform: translateX(0);
    width: auto;
    height: auto;
    margin-left: auto;
  }
  .list-links{
    flex-direction: row;
    gap: 2em;
  }
  .list-links>li>img{
    display: none;
  }
  .hero{
    height: 70vh;
  }

}

@supports (-moz-appearance: none) {
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      
    }

    main { 
        flex-grow: 1; 
    }

   
    footer {
        margin-top: 0;
    }
}