*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  background: #d9c5b4;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header>img{
  width: 100px;
}

nav{
  background-color: #d9c5b4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
 
}

.active-nav{
  transform: translateX(0);
}
.list-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}
.list-links>li>img{
  width: 30px;
  margin-bottom:2em ;
}
.nav-link{
  text-decoration: none;
  color: #0d0d0d;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  /* text-shadow: 1px 1px 1px #3EC2CC; */
}

.btn-menu{
  width: 3em;
  fill: #0d0d0d;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  border-radius: 5px;
  padding: .5em;
  margin-left: auto;
  cursor: pointer;
  
}
.open-menu{
  display: block;
}
.close-menu{
  display: none;
}
.menu-abierto .open-menu{
  display: none;
}
.menu-abierto .close-menu{
  display: block;
}

/* .hero{
  background-image: url('../images/tortel\ \(2\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
 */

 h1{
  font-size: 2em;
  text-align: center;
  /* margin-block: 1em; */
}

 .hero{
  background-image: url('../images/hero3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
 }

 .hero-title{
  font-size: 3rem;
  font-weight: 400;
  margin-top: 3em;
  
  text-shadow: 2px 2px 2px white, 2px 2px 2px #addec2;
  text-transform: uppercase;
 }
 .hero-subtitle{
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px white, 2px 2px 2px #addec2;
  margin-block: .5em;
 }

 .intro{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  width: 90%;
  margin: 1em auto;
 }
.intro-section{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: .5em;
}
h2{
  font-size: 1.5rem;
  font-weight: 500;
}
.intro-section>img{
  width: 30%;
  border-radius: 50%;
}


/* sobre mi */

.sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.main-img{
  width: 80%;
}
.sobre-mi>p{
  line-height: 1.5;
}

/**** procesos  ******/

.procesos{
  padding: 1em;
}

.procesos>p{
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

.procesos-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-block: 1em;
}

/**** productos ****/

.productos{
  padding: 1em;
}

.productos-galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-block: 1em;
}
.productos-galeria>img{
  width: 25%;
}

@media (min-width:700px){
  .hero{
    padding-top: 5em;
  }
  .hero-title{
    font-size: 4rem;
  }

  .sobre-mi{
    flex-direction: row-reverse;
    max-width: 800px;
    margin: 0 auto;
  }
  .main-img{
    width: 50%;
    max-height: 500px;
  }
}

@media (min-width:1000px){
  .btn-menu{
    display: none;
  }
  nav{
    position: relative;
    top:auto;
    transform: translateX(0);
    width: auto;
    height: auto;
    margin-left: auto;
  }
  .list-links{
    flex-direction: row;
    gap: 2em;
  }
  .list-links>li>img{
    display: none;
  }

  .hero{
    padding: 6rem;
  }
}